html {
  background-color: #000;
  color: #7FFB4E;
  font-family: "Courier New";
  font-size: 21px;
}

section {
  margin: 50px 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}



a,
a:visited,
a:hover {
  color: #7FFB4E;
  display: inline-block;
  text-decoration: none;
}

.help-section,
.timer-section {
  float: right;
}

.help-button {
  border: 2px solid #7FFB4E;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 24px;
  margin-right: 15px;
  padding: 5px 12px;
  opacity: 1;
}

.help-button.closed {
  opacity: 0.5;
}

.help-blurb,
.timer {
  float: right;
  opacity: 1;
}

.help-blurb {
  background-color: #000;
  border: 1px solid #7FFB4E;
  border-radius: 2px;
  padding: 0 20px;
  width: 300px;
}

.button-style-link {
  transition: margin 100ms;
}

.button-style-link:hover {
  font-weight: bold;
}

.classic-link {
  border-bottom: 1px solid #7FFB4E;
}

.main {
  margin: 100px auto 0;
  width: 750px;
}
